.header__text {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.header__title {
    font-family: "Gilroy Bold";
    max-width: 124px;
    font-size: 47px;
    line-height: 1;
    font-weight: 700;
}

.header__occupation {
    max-width: 155px;
    font-family: "Gilroy Medium";
}

.header__lang {
    font-family: "Gilroy Bold";
    color: #828282;
    transform: rotate(270deg);
    position: relative;
    bottom: 16px;
    right: -16px;

    & span {
        color: #000;
    }
}